<form ng-controller="FinishFormCtrl" ng-submit="submitForm()" name="form">
	<div ng-show="data.form.hasErrors" class="alert alert-error errors">
		<span ng-repeat="error in data.form.errors">{{ error }}</span>
	</div>
	<div class="form-inputs">
		<input ng-model="data.form.id" type="hidden" />
		<input ng-model="data.form.binder_id" type="hidden" />
		<div class="control-group">
			<label>Name</label>
			<div class="controls">
				<input id="name" ng-model="data.form.name" type="text" class="span4" required autofocus="true" />
			</div>
		</div>
		<div class="controls-row">
			<div class="control-group-inline">
				<label>Make</label>
				<div class="controls">
					<input id="make" ng-model="data.form.make" type="text" class="span4" typeahead="make for make in typeahead.makes | filter:$viewValue | limitTo:8"/>
				</div>
			</div>
			<div class="control-group-inline">
				<label>Model</label>
				<div class="controls">
					<input id="model" ng-model="data.form.model" type="text" class="span4" typeahead="model for model in typeahead.models | filter:$viewValue | limitTo:8"/>
				</div>
			</div>
		</div>
		<div class="controls-row">
			<div class="control-group-inline">
				<label>Style/Color</label>
				<div class="controls">
					<input id="code" ng-model="data.form.style_color" type="text" class="span4" />
				</div>
			</div>
		</div>
		<div ng-include="'/views/purchases/form.html'"></div>
		<div class="control-group">
			<label>Additional Details</label>
			<div class="controls">
				<textarea id="details" ng-model="data.form.details" type="text" rows="5" class="span8"></textarea>
			</div>
		</div>
	</div>
	<div class='form-actions'>
		<button ng-disabled="form.$invalid" type="submit" class="btn btn-hb">Save</button>
		<button ng-click="cancelForm()" class="btn">Cancel</button>
	</div> 
</form>