<application-header></application-header>
<div ng-controller="NewTransferCtrl">
	<div class="jumbotron">
		<div class="container">
			<h1>Transfer your binder</h1>
			<p>Select how you want to transfer your binder.</p>
		</div>
	</div>
	<div class="container">
        <form name="form" role="form">
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<label for="transferEmail">Who do you want to transfer the binder to?</label>
						<input type="email" id="transferEmail" ng-model="data.transferTo" class="form-control input-lg" placeholder="Email" autofocus required/>
					</div>
				</div>	
			</div>
			<div class="row"><br/></div>
			<div class="row">
				<div class="form-group">
					<div class="radio">
						<label>
						  <input type="radio" ng-model="data.transferType" value="ownership" />
							<p>
								<b>Transfer ownership of this binder</b></br>
								By transfering ownership of your binder you will no longer have any access to it.</br>
								All the contents of the binder will transfer to the new owner, this includes documents</br>
								and photos. If there is information you do not want to transfer, please remove it from the binder.
							</p>
						</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group">
					<div class="radio">
						<label>
						  <input type="radio" ng-model="data.transferType" value="copy" />
							<p>
								<b>Transfer a copy of this binder</b></br>
								A copy of all the information contained in the Seller's Report will be transferred to the specified individual.</br>
								Included will also be Property and Structure information. The original binder will remain under your control.
							</p>
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div ng-show="data.error" class="alert alert-danger">
					{{data.error}}
				</div>
			</div>
            <button type="button" class="btn btn-primary" ng-click="transfer()" ng-disabled="!form.$valid">Transfer my binder</button>
            <a href="{{data.binder_url}}" class="btn btn-default">Cancel</a>
        </form>
	</div>
</div>
<application-footer></application-footer>