<div class="navbar navbar-inverse navbar-fixed-top main-navbar" role="navigation">
	<div class="container-fluid">
        <div class="navbar-header">
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="sr-only">Toggle navigation</span>
            	<!--  SF  --><span class="glyphicon glyphicon-cog"></span>
          	</button>
          	<a class="navbar-brand" href="#/binders"><img src="/img/flatlogonotext.png"><span>&nbsp; HomeBinder</span></a>
        </div>			
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right nav-account-actions">
                <li class="account-actions"><a href="#/admin">Admin Dashboard</a></li>
				<li class="divider-vertical account-actions"></li>
                <li class="account-actions"><a href="#/logout" ng-click="logout()" tooltip-placement="bottom" tooltip="Logout"><span class='glyphicon glyphicon-lock'></span></a></li>

                <!--  SF  -->
                <li class="mobile-account-actions"><a href="#/logout" ng-click="logout()" tooltip-placement="bottom" tooltip="Logout"><span class='glyphicon glyphicon-log-out'></span>&nbsp;Log Out</a></li>
		  </ul>
		</div>
	</div>
</div>