/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
  background: transparent url('../img/cream_pixels.png') repeat;
  background-attachment: fixed;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #101010;
  border-top: 1px solid #e7e7e7;
}

#footer .nav {
	color: #dcd8d7;
	font-size: 75%;
	text-transform:uppercase;
}

#footer .nav>li>a {
	padding:7px 15px;
}

#footer .nav>li>a:hover, #footer .nav>li>a:focus {
	background-color:none;
	background:none;
	color: #f63;
}

#footer .nav>li>a.btn.btn-sm.btn-primary {
	padding: 5px 20px 7px 20px;
	margin: 0px;
	border-radius: 0px;
	font-size:100%;
	color:#fff;
	text-decoration:none;
}

#footer .nav>li>a:hover.btn.btn-sm.btn-primary {
	background-color:#ff5319;
	color:#fff;
	border-color:#ff5319;
	text-decoration:underline;
}


#footer .nav .navbar-text {
	padding:7px;
	margin-top:0px;
}

#footer a {
	text-decoration:underline;
	color:#dcd8d7;
}

.main-navbar {
	border-bottom:1px solid #000;
	font-size:16px;
}
.main-navbar .navbar-brand {
	padding: 2px 15px;
}
.main-navbar .navbar-brand img {height:46px;}
.navbar-nav>li>.dropdown-menu {
	font-size:16px;
}

/* start at 50, so we are under the main navbar, but still sticky. */
.navbar-breadcrumbs {
  top: 51px;
  background-color: #f5f5f5;
  z-index: 1; /* make sure the main header dropdown display above the sub header */
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
}
/*
.navbar-breadcrumbs .navbar-nav.navbar-right:last-child {margin-right: 0px;}
.navbar-breadcrumbs .navbar-nav.navbar-right>li>a,
.navbar-breadcrumbs .navbar-nav.navbar-left>li>a {padding-top:13px !important;}
.navbar-breadcrumbs .navbar-nav.navbar-right>li>a:hover,
.navbar-breadcrumbs .navbar-nav.navbar-left>li>a:hover {background-color:#eee;color:#f63;}

.navbar-breadcrumbs ol.breadcrumb {background:none;font-size:16px;padding-top:14px;}
.navbar-breadcrumbs .binderTopLinks {font-size:16px;margin-bottom:-2px;}
.navbar-breadcrumbs .binderTopLinks>ul>li>a {color:#f63;}
.navbar-breadcrumbs .binderTopLinks>ul>li>a:hover {background-color:#eee;color:#f63;}


.navbar-breadcrumbs .nav-pills {font-size: 16px;}
.navbar-breadcrumbs .nav-pills>li>a:hover {pointer:hand;cursor:hand;}
*/
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  }
  
  .sidebar-upper {
  	/*top: 101px;*/
  	top:51px;
    bottom: 180px;
    border-bottom:1px solid #ddd;
  }
  
  .sidebar-lower {
  	bottom: 30px;
  	height:150px;
  	background-color: #eee;
  	border-top: 1px solid #fff;
  	overflow:hidden;
  }
  
  .sidebar-lower img {
  	max-height: 120px;
  }
  
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 18px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover, .nav-list > li > a:hover {
  color: #f63;
  background-color: #ddd;
  border-right: 5px solid #E63900;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #f63;
  border-right: 5px solid #E63900;
}

.jumbotron {
	background-color: #f5f5f5;
  	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  	border-bottom: 1px solid #ddd;
  	font-family: 'Arvo',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.jumbotron .btn {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.jumbotron-bar {
	margin-top:50px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.jumbotron-bar a.navbar-brand {font-family: 'Arvo',"Helvetica Neue", Helvetica, Arial, sans-serif;}

h1,h2 {font-family: 'Arvo',"Helvetica Neue", Helvetica, Arial, sans-serif;}

.account-master-container h3 {margin-top:0px;}
.account-master-container .nav {font-size:16px;}

.orange {color:#f63 !important;}
.ltgray {color:#eee !important;}
/*
 * Main content
 */

.main {
  padding: 70px 20px 20px 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.main .page-header-fixed {
	
}

h3.panel-title {font-size:22px;padding-top:3px;}
.page-header h1 {font-size:48px;}

.nav-tabs {
	border-bottom: 1px solid #f63;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 1px solid #f63;
	border-bottom-color: transparent;
	text-decoration: none;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border-bottom-color: transparent;
	background:none;
	border:none;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border-bottom-color: transparent;
	background-color: none;
	text-decoration: underline;
}
.resource-list-ctrls {padding-top:20px;}
.label {padding: .2em .6em;}

.panel-heading-image {text-align:center;margin:0 auto;}

.label-white{background-color:#FFF; color:#f63; margin-top: 3px;}
.label-white[href]:hover,
.label-white[href]:focus {
  background-color: #3071a9;
} 

.nav-binder-opts>ul>li>a>span {font-size:125%;}

.modal {
	display: block;
}

/* style the panel groups */
.main .panel-group .panel {border:none;box-shadow:none;}
.main .panel-group .panel .panel-heading {padding-left:0px !important;border:none;background: url('../img/bkg.png') repeat-x scroll 0 18px;}
.main .panel-group .panel .panel-heading .panel-title {font-weight:normal;}
.main .panel-group .panel .panel-heading .panel-title>a {padding-left:5px !important;background: #fff;padding-right: 5px;color:#f63;}
.main .panel-group .panel .panel-heading .panel-title>a:hover {text-decoration:none;}
.main .panel-group .panel-heading+.panel-collapse .panel-body {border-top:none;}
.main .panel-group .panel .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    font-size:12px;
    background: #fff;
    padding-top: 2px;
}
.main .panel-group .panel .panel-heading a.collapsed:after {
    content:"\e080";
}

.btn-pad {padding:5px;}
.toolbar-btn-pad {position:absolute;z-index:100;top:2px;left:15px;}
.toolbar-btn-pad .nav {position:fixed;}
.gal-pad {max-width: 210px;display:inline-block;margin:5px;}
.gal-pad>img {max-width:200px;}

/* thumbnails from bootstrap 2.3.2 */
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}

.thumbnails {list-style-type:none;}
.photo-thumb {
  position: relative;
}
.photo-thumb-delete {
  position: absolute;
  bottom:1px;
  right:1px;
  background: #eee;
  z-index:100;
  padding: 3px 5px 0 5px;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius: 3px;
     -moz-border-radius-bottomleft: 0;
          border-radius: 3px;
          border-bottom-left-radius: 0;
}

/*
 * This stuff is copied over from homebinder.css of the rails app for subscriptions 
 */
#paymentForm
{
  width:500px;
}

#upgrade-info
{
  margin-top:15px;
  font-size:12px;
}

#subscription-table
{
  width:100%;
  margin:10px 0px 10px 0px;
}

#subscription-table tr
{
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  vertical-align:bottom;
}

#subscription-table td
{
  padding: 10px 5px 10px 5px;
  text-align: left;
  width:50%;
}

#subscription-table th
{
  padding: 10px 10px 10px 20px;
  text-align: right;
  font-weight: bold;
  width:50%;
}

#beginUpgradeSubsc
{
  margin-left:20px;
}

#cardTypes
{
  margin-top:5px;
  display:block;  
}

#tableTotals
{
  margin:60px 0px 20px 0px;
}

#tableTotals tr
{
  border-bottom-style:none;
}

#tableTotals th
{
  font-weight:normal;
  padding:3px 10px 3px 0px;
}

#tableTotals td
{
  font-weight:bold;
  padding:3px 10px 3px 0px;
}

.subsc-action
{
  margin:10px;
}

.sub-text
{
  font-size:11px;
  font-style:italic;
}

#paymentFormContainer
{
  margin-left:5%;
  margin-right:5%;
}
#subscBackBlock
{
  margin:15px 0px 20px 0px;
}

.binder-subsc-info
{
  font-size:10px;
  margin-bottom:10px;
}
.binder-subsc-detail
{
  margin:1px 0px;
}

.object-block
{
  background-color:#fff;
  border-width:1px;
  border-color:#E8E8E8;
  border-style:solid;
  padding: 10px 15px;
}

/* match styles on wizard complete page for binders page */
.binder-box {
	padding: 0px;
}
.binder-box img {
	border:2px solid #e3e2e2;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
	border-radius: 10px;
	margin-left:30px;
}
.binder-box .binder-link {
	text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    color: #77706b;
    text-decoration: none;
    padding: 20px;
    font-family: "Arvo","Helvetica Neue",Arial,Verdana,sans-serif;
}
.binder-box h3 {
	color: #f63;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e2e2; 
    font-family: "Arvo","Helvetica Neue",Arial,Verdana,sans-serif;
}
.binder-box .binder-link p {
	font-size:16px;
}
.binder-box .subsc-bar {
	background-color:#f5f5f5;
	border-top:1px solid #e3e2e2;
	border-radius: 0 0 10px 10px;
	padding:10px;
}

.modal-header h3 {
	font-family: "Arvo","Helvetica Neue",Arial,Verdana,sans-serif;
	color:#f63;
}

.panel-overview .panel-body .outer {
    width: auto;
    overflow: hidden;
    *position: relative;
}
.panel-overview .panel-body .inner {
    float: left;
    position: relative;
    left: 50%;
}
.panel-overview .panel-body img {
    display: block;
    position: relative;
    left: -50%;
    border: 2px solid #e3e2e2;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
	border-radius: 10px;
}
/*
.panel-overview img {
	border:2px solid #e3e2e2;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
			box-shadow: 0 1px 1px rgba(0,0,0,0.05);	
	border-radius: 10px;	
}
*/
.panel-overview .panel-footer {
	background-color: #fff !important;
	border-top: none;
	text-align: center;
}
.panel-overview .panel-footer h1 {
	color: #f63;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e2e2; 
    font-family: "Arvo","Helvetica Neue",Arial,Verdana,sans-serif;
}
.panel-overview .panel-footer h2 {
	font-family: "Arvo","Helvetica Neue",Arial,Verdana,sans-serif;
}

.binder-settings {
	position:relative;
	top:0px;
	right:0px;
	float:right;
	font-size:18px;
}
.binder-settings .nav>li>a:hover {background-color:transparent !important;}
.binder-settings .nav .open>a, .binder-settings .nav .open>a:hover, .binder-settings .nav .open>a:focus {background-color:transparent !important;color:#e53900}
.binder-settings .nav .dropdown-menu {right:10px !important;margin-top:-10px;min-width:200px;}

.dropdown-header { text-transform:uppercase;}
.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
	    display: none;
	}
}


.reasons li {
  font-size: 14px;
  margin: 0 10px 0 15px;
  padding: 5px 15px 10px 30px;
  line-height: 1.4em;
  list-style-type: none;
  background: url("/img/landing/check-small.png") left center no-repeat;
}
.reasons li b {
  color: #666;
}
.pricing li {
  font-size: 14px;
}
.pricing .col-md-6:first-of-type li:nth-child(n+3) {
  background: none;
  text-decoration: line-through;
  opacity: .4;
}
.pricing h3 {
  text-align: center;
  font-weight: 400;
  margin-top: 0px;
  text-transform: uppercase;
  font-size:18px;
}
.pricing h4 {
  text-align: center;
  font-size: 26px;
}
.pricing h4 span {
  font-size: 20px;
}
.capitalize {text-transform:capitalize;}
.uppercase {text-transform:uppercase;}

.partner-logo {
	max-height:180px;
	max-width:180px;
}

