/* General Styles */

body {
	padding: 80px 0 0 0;
	color: #777;
	font-family: 'Arvo', serif;
}
h1, h2, h3, h4, h5 {
	color: #444;
}
h2 {
	font-size: 26px;
	padding: 25px;
}
a {
	color: #FF6100;
}
a:hover {
	color: #c95000;
}

ul, ol {
	margin: 0 0 10px 15px;
	padding: 0;
}

.divider {
	width: 500px;
	margin: 35px auto 0;
	height: 1px;
	background-color: #FF6600;
	opacity: .2;
}
.orange {
	color: #FC6500;
}

a.anAnchor {
	position: relative;
	top: -80px;
}

.sliderholder a.anAnchor {
	top: -80px
}

.btn-hb.active {
	color: rgba(255, 255, 255, 0.75);
}
.btn-hb {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FC8F46;
 *background-color: #FC8F46;
	background-image: -moz-linear-gradient(top, #FC8F46, #FC6500);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FC8F46), to(#FC6500));
	background-image: -webkit-linear-gradient(top, #FC8F46, #FC6500);
	background-image: -o-linear-gradient(top, #FC8F46, #FC6500);
	background-image: linear-gradient(to bottom, #FC8F46, #FC6500);
	background-repeat: repeat-x;
	border: none;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100cc', endColorstr='#f48100cc', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 2px 0 #ececec;
}
.btn-hb:hover, .btn-hb:focus, .btn-hb:active, .btn-hb.active, .btn-hb.disabled, .btn-hb[disabled] {
	color: #ffffff;
	background-color: #e25a00;
 *background-color: #e25a00;
}
.btn-hb:active, .btn-hb.active {
	background-color: #fc6500 \9;
}

/* Navbar */

.navbar {
	border-top: 2px solid #fc6500;
}
.navbar ul {
	font-size: 16px;
	font-weight: 400;
	padding-left: 100px;
}
.navbar-inverse .nav>li>a {
	color: #FF6100;
	text-shadow: none;
}
.navbar-inverse .nav>li>a:focus {
	color: #FF6100;
}
.navbar-inverse .nav>li>a:hover {
	color: #444;
}
.navbar-inverse .navbar-inner {
	background: #fff;
	background-image: url(images/cream_pixels.png);
	border: none;
	box-shadow: none;
}
.navbar-inner {
	padding: 30px 0 20px;
}
.navbar .btn {
	margin-top: 0;
	margin-right: 20px;
}
.navbar a.brand {
	height: 139px;
	width: 85px;
	position: absolute;
	top: 10px;
}
.navbar a.brand img {
	width: 75px;
}
/* Header */

.headerBlock {
	height: auto;
}
.headerBlock h3 {
	font-size: 30px !important;
	line-height: 1em;
	padding-bottom: 10px;
	padding-top: 15px;
}
.headerBlock h2 {
	font-size: 18px;
	line-height: 1.4em;
	font-weight: 400;
	color: #777;
	padding: 0;
	padding-bottom: 10px;
}
.headerBlock .container {
	padding-top: 80px;
}
.headerBlock .col-md-6 {
	width: 48%;
	margin-left: 3%;
}
.headerBlock .col-md-6:first-child {
	margin-left: 0%;
}
.headerBlock .col-md-4 {
	margin-left: 10px;
	padding-top: 30px;
}
/* Reasons */

.reasons li {
	font-size: 16px;
	margin: 0 10px 0 15px;
	padding: 5px 15px 10px 45px;
	line-height: 1.4em;
	list-style-type: none;
	background: url('../img/landing/check.png') left center no-repeat;
}
.reasons li b {
	color: #666;
}
/* Preview Slider */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.sliderholder {
	background-image: url("../img/landing/imacsmall.png");
	background-size: 670px;
	background-position: center 110px;
	background-repeat: no-repeat;
	margin-left: 0;
	height: 720px;
}
.rslides_container {
	padding: 33px 0 0 0px;
}
#slider1 {
	max-width: 620px;
}
.rslides {
	margin: 0 auto;
}
.rslides_container {
	margin-bottom: 50px;
	position: relative;
	float: none;
	width: 620px;
	margin: 0 auto;
}
.centered-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/landing/themes.gif") no-repeat left top;
	margin-top: -20px;
}
.centered-btns_nav:active {
	opacity: 1.0;
}
.centered-btns_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}
.transparent-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0;
	left: 0;
	display: block;
	background: #fff; /* Fix for IE6-9 */
	opacity: 0;
	filter: alpha(opacity=1);
	width: 48%;
	text-indent: -9999px;
	overflow: hidden;
	height: 91%;
}
.transparent-btns_nav.next {
	left: auto;
	right: 0;
}
.large-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0.6;
	text-indent: -9999px;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	background: #000 url("../img/landing/themes.gif") no-repeat left 50%;
	width: 38px;
}
.large-btns_nav:active {
	opacity: 1.0;
}
.large-btns_nav.next {
	left: auto;
	background-position: right 50%;
	right: 0;
}
.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus {
	outline: none;
}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs {
	margin-top: 10px;
	text-align: center;
}
.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li {
	display: inline;
	float: none;
	_float: left;
 *float: left;
	margin-right: 5px;
}
.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #ccc;
	background: rgba(0,0,0, .2);
	display: inline-block;
	_display: block;
 *display: block;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	width: 9px;
	height: 9px;
}
.centered-btns_here a, .transparent-btns_here a, .large-btns_here a {
	background: #222;
	background: rgba(0,0,0, .8);
}
/* Features */

.whyTable .col-md-10 {
	padding-bottom: 10px;
}
.whyTable img {
	padding-top: 10px;
	padding-left: 10px;
}
.whyTable p {
	border-left: 3px solid rgba(255,97,0,.2);
	padding-left: 10px;
	margin-left: 5px;
}
.whyTable .col-md-2 h4 {
	font-weight: 400;
}

.whyTable .offset1 {
	margin-left: 8.5%;
}
.whyTable .col-md-2 {
	width: 18%;
	margin-left: 2%;
}
.whyTable .col-md-2:nth-of-type(5n+1) {
	margin-left: 0% !important;
}

/* Testimonials */

#testimonials li {
	list-style-type: none;
	font-size: 20px;
	text-align: center;
}
#testimonials li span {
	display: block;
	margin-top: 10px;
	opacity: .5;
}

/* Pricing */

.pricing li {
	font-size: 18px;
}
.pricing .col-md-6:first-of-type li:nth-child(n+3) {
	background: none;
	text-decoration: line-through;
	opacity: .4;
}
.pricing h3 {
	text-align: center;
	font-weight: 400;
	margin-top: 0px;
}
.pricing h4 {
	text-align: center;
	margin-top: 30px;
	font-size: 36px;
}
.pricing h4 span {
	font-size: 20px;
}

/* Signup */

#emailSignupForm input {
	display: block;
}
#emailSignupForm .input-xlarge {
	margin: 10px auto !important;
	border: solid 3px #FC6500 !important;
	background: transparent;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	font-family: 'Arvo', serif;
}
#emailSignupForm button {
	float: left;
	font-size: 22px;
	padding: 15px 60px;
	font-family: 'Arvo', serif;
	margin: 30px auto;
	display: block;
	float: none;
}
#emailSignupForm {
	text-align: center;
}
#emailSignupForm label {
	display: inline-block;
	font-size: 20px;
	padding: 0 10px;
	margin-bottom: 25px;
}
#emailSignupForm label input {
	float: left;
	margin-right: 10px;
}


#emailSignupForm label input[type="radio"]+span {
	background:url(../img/landing/unchecked.png) no-repeat;
	padding-left: 40px;
	padding-top: 5px;
	height: 35px;
	display: inline-block;
	margin: 0 10px;
}
#emailSignupForm label input[type="radio"]:checked+span {
	color: #FC6500;
	background:url(../img/landing/checked.png) no-repeat;
}


#emailSignupForm input[type="radio"] {
    display:none;
}
#emailSignupForm input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/landing/unchecked.png) no-repeat;
    cursor:pointer;
}
#emailSignupForm input[type="radio"]:checked + label span {
    background:url(../img/landing/checked.png) no-repeat;
}



/* Footer */

footer {
	padding: 20px 0;
	font-size: 13px;
}
footer ul {
	list-style: none;
}
footer a {
	font-size: 14px;
	line-height: 1.6em;
}
footer a:hover {
	color: #dcd8d7;
}


 @media(max-width:1200px) {
.headerBlock .col-md-4 {
	padding-top: 0px;
}
.headerBlock {
	height: auto;
}
#slider1 {
	max-width: 500px;
}
.rslides_container {
	padding: 32px 0 0 4px;
	width: 500px;
}
.sliderholder {
	height: 640px;
	background-size: 550px;
}
.navbar .brand {
	margin-left: -30px;
}
.headerBlock h3 {
	font-size: 50px;
	margin-top: 0;
}
.whyTable .col-md-2 {
	width: 18%;
}
}
 @media(min-width:768px) and (max-width:979px) {
body {
	padding-top: 0;
}
.navbar-fixed-top {
	margin-bottom: 0px;
}
.navbar-inner {
	padding: 20px 0 !important;
}
.headerBlock .col-md-6 {
	margin-left: 20px;
}
.headerBlock .col-md-4 {
	width: 340px;
	margin-top: -10px;
}
.headerBlock h3 {
	font-size: 40px;
	margin-top: 0;
	padding-top: 0;
}
.headerBlock h2 {
	line-height: 1.3em;
	font-size: 16px;
}
.headerBlock .container {
	padding-top: 15px;
}
.whyBlock .col-md-10 {
	width: 700px;
}
.whyBlock .col-md-1 {
	width: 0;
	margin: 0;
}
.whyTable .col-md-2 {
	width: 120px;
}
.sliderholder {
	height: 540px;
	background-size: 490px;
}
#slider1 {
	max-width: 448px;
}
.rslides_container {
	padding: 30px 0 0 0px;
	width: 448px;
}
.navbar .brand {
	margin-left: 10px;
}
.plansBlock .col-md-6 {
	width: 520px;
}
a.anAnchor {
	position: relative;
	top: 0 !important;
}
}
 @media(max-width:850px) {
.navbar .btn {
	margin-top: 0px;
	margin-left: 110px;
	float: left;
}
}
 @media(max-width:600px) {
.headerBlock .col-md-6:first-child {
	display: none;
}
.headerBlock .col-md-6 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.headerBlock .btn-hb {
	float: none !important;
	margin: 0 auto !important;
	display: block;
	width: 50%;
	line-height: 1.4em;
}
}
@media(max-width:767px) {
body {
	padding-top: 0;
}
.navbar-fixed-top {
	margin-bottom: 0px;
}
.navbar .btn {
	margin-top: 10px;
}
.navbar .btn:last-child {
	margin-left: 20px;
}
.headerBlock .col-md-6 {
	float: left;
}
.headerBlock h3 {
	padding-top: 0;
}
.headerBlock h2 {
	line-height: 1.3em;
	font-size: 16px;
}
.headerBlock .col-md-4 {
	padding: 0 10%;
	margin-left: 0;
}
.headerBlock .container {
	width: 90%;
	margin: 0 auto;
	padding-top: 40px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin: 0;
}
.whyBlock .col-md-1 {
	width: 0;
	margin: 0;
}
.whyTable .offset1 {
	margin: 0;
}
.whyTable .col-md-2 {
	width: 90% !important;
	margin: 0 auto 30px auto!important;
	text-align: center;
}
.whyTable .col-md-2:nth-of-type(5n+1) {
	margin: 0 auto !important;
}
.whyTable .col-md-2 ul {
	list-style-position: inside;
}
.whyTable p {
	border: none;
	font-size: 16px;
	width: 50%;
	margin: 0 auto;
	padding-left: 0;
}
.whyTable img {
	padding: 10px 0;
}
.whyTable .col-md-10 {
	padding: 20px 0;
}
.reasons li {
	text-align: center;
	background: none;
	padding-left: 0;
}
.reasons .col-md-8 .col-md-6:first-of-type {
	margin-bottom: 60px !important;
}
#emailSignupForm .input-xlarge {
	width: 50%;
	height: 50px;
}
.empty {
	display: none;
}
.sliderholder {
	background: none;
	height: auto;
	padding-bottom: 30px;
}
#slider1 {
	width: 90%;
}
.rslides_container {
	padding: 30px 0 0 0px;
	width: 90%;
}
.p #emailSignupButton {
	margin-top: 10px;
}
footer .col-md-1, footer .col-md-2, footer .col-md-3 {
	width: 90%;
	margin: 20px auto;
	text-align: center;
}
.navbar .brand {
	margin-left: -10px;
}
a.anAnchor {
	position: relative;
	top: 0 !important;
}
}
 @media(max-width:415px) {
.navbar .nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
.navbar .btn {
	margin: 10px 15%;
	float: none;
	width: 60%;
}
.navbar a.brand {
	background: url("../img/landing/flatlogo.png") no-repeat scroll center center transparent;
	height: 139px;
	position: relative;
	top: 10px;
	width: 95%;
	margin: 0 auto;
	display: block;
}
.navbar a.brand img {
	display: none;
}
.navbar .btn:last-child {
	margin: 0 auto !important;
	float: none;
	display: block;
}
.headerBlock h3 {
	font-size: 50px;
}
.navbar .nav > li {
	float: none;
	margin: 10px 0;
}
a.anAnchor {
	position: relative;
	top: 0 !important;
}
.headerBlock .col-md-4 {
	margin-top: -30px;
}
.headerBlock h3 {
	font-size: 40px;
}
#emailSignupForm .input-xlarge {
	width: 80%;
}
}