<title>HomeBinder.com | Organize. Manage. Sell.</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Home Mangagement Software - HomeBinder.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="home organization, home binder, homebinder, home projects, home management, managing home projects, home improvement projects, home repair, kitchen remodeling, plumbing project, electrical project, painting project, real estate project, decorating project, organize home, home management">
<meta name="description" content="HomeBinder helps manage your home by keeping all your household information in our convenient web application.">

<%= google_webfonts_link_tag "Open_Sans" %>  
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
<%= include_gon %>