<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container"> <a class="brand" href="#"><img src="assets/landing/flatlogo.png"></a>
      <ul class="nav">
        <li><a href="#Preview" class="smoothScroll">Preview</a></li>
        <li><a href="#Features" class="smoothScroll">Features</a></li>
        <li><a href="#Testimonials" class="smoothScroll">Testimonials</a></li>
        <li><a href="#Pricing" class="smoothScroll">Pricing</a></li>
      </ul>
      
      <%= link_to 'Sign In', new_user_session_path, :class => 'pull-right btn btn-large btn-link orange' %>
	  <%= link_to "Get Started", "#emailSignupForm", :class => 'btn btn-large btn-hb pull-right smoothScroll', :style => 'margin-right:5px;' %>
	</div>
  </div>
</div>