  	<!-- I dont know of a better way to do this right now -->
  	<style>
  		body {background:#000 !important;}
  	</style>
  	
	<div class="headerBlock">
	  <div class="container">
	    <div class="span6"><img src="/assets/house.png" alt="House image for HomeBinder's home management software"></div>
	    <div class="span4">
	      <h3>Organize.<br/>
	        Manage.<br/>
	        <span class="orange"><span id="rotate">Sell.</span></span></h3>
	      <h2>HomeBinder helps manage your home by storing all your household information in our convenient web application.  Keep your home in great condition with our maintenance scheduler and reminders.  When the time comes to sell your home, we also generate useful reports that increase your selling value.</h2>
	    </div>
	  </div>
	</div>
	<div class="whyBlock">
	  <div class="container whyBlockInner">
	    <div class="row" style="margin-bottom: 2px;">
	      <div class="span1">&nbsp;</div>
	      <div class="span10 innerHeaderBlock">
	        <div class="row">
	          <div class="span1">&nbsp;</div>
	          <div class="span10"> <a name="Why" class="anAnchor">&nbsp;</a>
	            <h1>Why Use HomeBinder's Home Management Software?</h1>
	            <p class="quote">"What was the name of that contractor we used?  Where is that photo of the wiring before we fixed the drywall?  When should we replace the vent filters?  How much less can we pay in taxes when we sell our home based on the improvements we made?"<span class="quotename">-Every Homeowner Ever</span></p>
	            <p>HomeBinder was created to help answer all these questions and much more. You know that managing the upkeep of your home can be a real hassle. Not anymore! We're here to help! HomeBinder's home management software brings peace of mind to your home ownership experience by creating a centralized resource for all of your relevant household information, tracking routine maintenance tasks so you never forget those pesky smoke alarm batteries again, and helping you bring in the most money from the sale of your home.</p>
	          </div>
	          <div class="span1">&nbsp;</div>
	        </div>
	      </div>
	      <div class="span1">&nbsp;</div>
	    </div>
	    <div class="row">
	      <div class="span1">&nbsp;</div>
	      <div class="span10 innerHeaderBlock whyTable">
	        <div class="row">
	          <div class="span10">
	            <div class="span2" style="margin:0"><img src="/assets/organize.png" alt="Organize image for HomeBinder's home management software"></div>
	            <div class="span2">
	              <h4>Contractors</h4>
	              <ul>
	                <li>Who does work for you?</li>
	                <li>What is their information?</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Project Info</h4>
	              <ul>
	                <li>What paint color did we use?</li>
	                <li>What does it look like behind the drywall?</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Appliances</h4>
	              <ul>
	                <li>What model number do we have?</li>
	                <li>Where is the warranty info?</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Receipts</h4>
	              <ul>
	                <li>How much did we spend?</li>
	                <li>Where did we buy it?</li>
	              </ul>
	            </div>
	          </div>
	          <div class="span10">
	            <div class="span2" style="margin:0"><img src="/assets/manage.png" alt="Manage image for HomeBinder's home management software"></div>
	            <div class="span2">
	              <h4>Maintenance</h4>
	              <ul>
	                <li>Changing air filters</li>
	                <li>Replacing alarm batteries</li>
	                <li>Sealing driveway</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Plan</h4>
	              <ul>
	                <li>Remember to get ready for large projects</li>
	                <li>Shopping list of all the materials you'll need</li>
	              </ul>
	            </div>
	            <div class="span2 empty">&nbsp;</div>
	            <div class="span2 empty">&nbsp;</div>
	          </div>
	          <div class="span10">
	            <div class="span2" style="margin:0"><img src="/assets/sell.png" alt="Sell image for HomeBinder's home management software"></div>
	            <div class="span2">
	              <h4><a href="/assets/Home Binderv3.pdf">Buyers' Report</a></h4>
	              <ul>
	                <li>What improvements were made</li>
	                <li>Appliances you have</li>
	                <li>Paint colors you used</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Tax Report</h4>
	              <ul>
	                <li>What you spent to reduce your capital gains taxes on sale</li>
	              </ul>
	            </div>
	            <div class="span2">
	              <h4>Hand-off</h4>
	              <ul>
	                <li>Give the 'ownership' of the binder to the next owner (if you want)</li>
	              </ul>
	            </div>
	            <div class="span2 empty">&nbsp;</div>
	          </div>
	        </div>
	        <div class="span1">&nbsp;</div>
	      </div>
	    </div>
	    <div class="span1">&nbsp;</div>
	    <div class="span10 sliderholder"> <a name="Preview" class="anAnchor">&nbsp;</a>
	      <h2 style="text-align:center;">Preview the Service</h2>
	      <div class="rslides_container">
	        <ul class="rslides" id="slider1">
	          <li><img src="/assets/screen1.jpg" alt="Screenshot of HomeBinder's home management software"></li>
	          <li><img src="/assets/screen2.jpg" alt="Screenshot 2 of HomeBinder's home management software"></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
	
	<!-- PLANS BLOCK -->
	<div class="plansBlock">
	  <div class="container">
	    <div class="row">
	      <div class="span12"> <a name="Plans" class="anAnchor">&nbsp;</a>
	        <p class="text-center plansBlockHeader">Two ways to get started.</p>
	        <p class="text-center plansBlockSubHeader">Whether you want to try it out or upgrade for more features, we have a plan for you.</p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="span12">
	        <div class="row">
	          <div class="span6">
	            <table>
	              <tr>
	                <td></td>
	                <td><h4>Standard</h4></td>
	                <td><h4>Premium</h4></td>
	              </tr>
	              <tr>
	                <td>Property / Buildings / Areas</td>
	                <td>Yes</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td>Projects / Contracts</td>
	                <td>Yes</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td>Maintenance / Appliances</td>
	                <td>Yes</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td>Paint / Finishes</td>
	                <td>Yes</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td>File and Photo Storage</td>
	                <td>5MB</td>
	                <td>500MB</td>
	              </tr>
	              <tr>
	                <td>PDF HomeBinder Reports</td>
	                <td>--</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td>Phone Support</td>
	                <td>--</td>
	                <td>Yes</td>
	              </tr>
	              <tr>
	                <td class="orange">Yearly Subscription</td>
	                <td><h4 class="orange">Free</h4></td>
	                <td><h4 class="orange">$39</h4></td>
	              </tr>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
 
    <!-- SIGN UP BLOCK -->
   	<div class="signUpBlock">
    	<div class="container signUpBlockInner" id="emailSignUpBlock">
    		<div class="row" style="margin-bottom: 2px;">
    			<div class="span1">&nbsp;</div>
	    		<div class="span10 innerHeaderBlock">
	    			<div class="row">
    					<div class="span1">&nbsp;</div>
	    				<div class="span10">
	    					<a name="SignUp" class="anAnchor">&nbsp;</a>
	    					<h1>Sign Up Now</h1>
	    					<p>We're working hard to get the site ready for launch.</p>
	    					<p>Enter your email in the form below and we'll be in touch when we're ready!</p>
	    				</div>
	    			</div>
	    			<div class="span1">&nbsp;</div>
	    		</div>
	    		<div class="span1">&nbsp;</div>
	    	</div>
	    	
	    	<div class="row">
	    		<div class="span1">&nbsp;</div>
	    		<div class="span10 innerSubHeaderBlock">
	    			<div class="row">
    					<div class="span1">&nbsp;</div>
	    				<div class="span10">
							<form class="form-inline" id="emailSignupForm">
								<div class="alert alert-error" id="errorMessage" style="display:none;"></div>
			    				<input type="email" class="input-xlarge" name="email" placeholder="Enter your email address" />
			    				<button type="submit" class="btn btn-hb" id="emailSignupButton">Send me an Invite!</button>
			    			</form>
			    			<p><small><i>HomeBinder is committed to the privacy of our customers. We will never sell, rent or otherwise distribute your personal information.</i></small></p>
			    		</div>
			    	</div>
			    	<div class="span1">&nbsp;</div>
	    		</div>
	    		<div class="span1">&nbsp;</div>
	    	</div>
	    </div>
	    
    	<div class="container signUpBlockInner" id="thankYouBlock" style="display:none;">
    		<div class="row">
    			<div class="span1">&nbsp;</div>
	    		<div class="span10 innerHeaderBlock">
	    			<div class="row">
    					<div class="span1">&nbsp;</div>
	    				<div class="span10">
			    			<h1>Thanks for your Interest!</h1>
			    			<p>We're working hard to get the site ready for launch.</p>
			    			<p>We'll let you know when we're ready!!</p>
			    		</div>
			    		<div class="span1">&nbsp;</div>
			    	</div>
	    		</div>
	    		<div class="span1">&nbsp;</div>
	    	</div>
	    </div>
    </div>	
