<form ng-controller="BinderContractorFormCtrl" ng-submit="submitForm()" name="form">
	<div ng-show="data.form.hasErrors" class="alert alert-error errors">
		<span ng-repeat="error in data.form.errors">{{ error }}</span>
	</div>
	<div class="form-inputs">
		<input ng-model="data.form.id" type="hidden" />
		<input ng-model="data.form.binder_id" type="hidden" />
		<tabset>
			<tab heading="General">
				<div class="control-group">
					<label>Name</label>
					<div class="controls">
						<input id="name" type="text" ng-model="data.form.contractor_attributes.name" class="span4" required />
					</div>
				</div>
				<div class="control-group">
					<label>Contractor Type</label>
					<div class="controls">
						<input id="contractor_type" ng-model="data.form.contractor_attributes.contractor_type" type="text" class="span4" typeahead="type for type in typeahead.contractorTypes | filter:$viewValue | limitTo:8"/>
					</div>
				</div>
				<div class="control-group">
					<label>Phone Number</label>
					<div class="controls">
						<input id="phone" type="text" ng-model="data.form.contractor_attributes.phone" class="span4" />
					</div>
				</div>
				<div class="control-group">
					<label>Email</label>
					<div class="controls">
						<input id="email" type="text" ng-model="data.form.contractor_attributes.email" class="span4" />
					</div>
				</div>
			</tab>
			<tab heading="Address">
				<div ng-include="'/views/addresses/form.html'"></div>
			</tab>
			<tab heading="More">
				<div class="control-group">
					<label>Url</label>
					<div class="controls">
						<input id="url" type="text" ng-model="data.form.contractor_attributes.url" class="span4" />
					</div>
				</div>
				<div class="control-group">
					<label>Account Number</label>
					<div class="controls">
						<input id="email" type="text" ng-model="data.form.contractor_attributes.account_number" class="span4" />
					</div>
				</div>
				<div class="control-group">
					<label>Contact</label>
					<div class="controls">
						<input id="contact" type="text" ng-model="data.form.contractor_attributes.contact" class="span4" />
					</div>
				</div>
				<div class="control-group">
					<label>Additional Details</label>
					<div class="controls">
						<textarea id="details" ng-model="data.form.contractor_attributes.details" type="text" rows="5" class="span8"></textarea>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
	<div class='form-actions'>
		<button ng-disabled="form.$invalid" type="submit" class="btn btn-hb">Save</button>
		<button ng-click="cancelForm()" class="btn">Cancel</button>
	</div> 
</form>