<h1>Listing area_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @area_types.each do |area_type| %>
  <tr>
    <td><%= link_to 'Show', area_type %></td>
    <td><%= link_to 'Edit', edit_area_type_path(area_type) %></td>
    <td><%= link_to 'Destroy', area_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area type', new_area_type_path %>
