<h1>Listing construction_styles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construction_styles.each do |construction_style| %>
  <tr>
    <td><%= link_to 'Show', construction_style %></td>
    <td><%= link_to 'Edit', edit_construction_style_path(construction_style) %></td>
    <td><%= link_to 'Destroy', construction_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Construction style', new_construction_style_path %>
