<link href="/stylesheets/landing-agents.css" rel="stylesheet">

<body class="faded">
<div class="header">
  <div class="container"> 
  	<a class="logo"><img src="../../img/landing3/flatlogo2s.png"></a>
  	<a href="/#/index">For Homeowners</a>
  	<a href="/#/agents" class="active">For Agents &amp; Brokers</a>
  	<a href="/#/login" class="right">Sign In</a> 
  </div>
</div>
<div class="container">
  <div class="hero right">
    <h1>Better Market Your Listings &amp; <br/>
      Save Time w/ Hands-Off Client Engagement </h1>
    <div class="monitor"><img src="../../img/landing3/ReportGif.gif" class="post"><img src="../../img/landing3/BinderGif.gif" class="post display"></div>
  </div>
  <div class="subhero left">
    <p class="second">Share digital Seller's Reports that explain a home's appliances, maintenance requirements, home improvements and hired contractors.</p>
    <img src="../../img/landing3/divider.gif">
    <p>Give your clients a <a class="usage">gift they will actually use</a><span class="tooltip"><span>Homeowners Love HomeBinder</span><br/>
      <b>60%</b> of our users have visited their HomeBinder more than <b>10 times</b>, typically spend <b>45 minutes</b> on the site per session, and revisit the site again within <b>7 days</b>.</span> <br/>
      with HomeBinder's branded accounts to assist in their ongoing home maintenance.</p>
    <a class="btn" ng-click="requestTrial('single')">Request Free Trial</a> <span class="trigger">No Credit Card Required</span> </div>
</div>
<div class="grey">
  <div class="container"> <img src="../../img/landing3/wests.png"><img src="../../img/landing3/kellers.png"><img src="../../img/landing3/sothebyss.png"> </div>
</div>
<div class="how container">
  <h2>How It Works</h2>
  <div class="listagent left">
    <h3>For Listing Agents</h3>
    <p>1. Use HomeBinder to provide a superior service and set yourself apart from other REALTORS®.</p>
    <p>2. Have your client sign up and add their relevant home management info or send us a completed <a href="../../img/landing3/HomeBinder_RealEstateForm.pdf">Listing Form</a>.</p>
    <p>3. Share digital <a href="https://www.homebinder.com/#/SellerReport/3B7B03">Seller’s Reports</a> branded with your logo to better market your listings to potential buyers.</p>
    <p>4. Assure your client’s home will be propely looked after by transfering the branded Binder to the new owner. </p>
  </div>
  <div class="buyagent right">
    <h3>For Buyer Agents</h3>
    <p>1. Prep your client for home ownership by adding their new home info or sending us a completed <a href="../../img/landing3/HomeBinder_RealEstateForm.pdf">Listing Form</a>.</p>
    <p>2. Maintain a stake in your buyer’s home by transfering the branded HomeBinder to your client.</p>
    <p>3. Enjoy hands-off client engagement with our monthly maintenance emails branded with your logo.</p>
    <p>4. Increase your referrals &amp; retain more clients when they are ready to buy or sell a home again.</p>
  </div>
</div>
<div class="pricing container">
  <h2>Hassle-Free Pricing</h2>
  <h3>Create free branded accounts during your first 30 days. No credit card required.</h3>
  <img src="../../img/landing3/divider.gif">
  <div class="tier">
    <p>Unbranded</p>
    <p>Unlimited</p>
    <p><span>$</span>0</p>
    <p>Per Binder</p>
    <a class="btn" href="https://www.homebinder.com/#/register">Get Started</a> </div>
  <div class="tier">
    <p>Single Agent</p>
    <p>0 - 25 New Binders / Year</p>
    <p><span>$</span>50</p>
    <p>Per Branded Binder</p>
    <a class="btn" ng-click="requestTrial('single')" id="agentbtn">Request Free Trial</a> </div>
  <div class="tier">
    <p>Small Team</p>
    <p>25 - 200 New Binders / Year</p>
    <p><span>$</span>40</p>
    <p>Per Branded Binder</p>
    <a class="btn" ng-click="requestTrial('small')" id="teambtn">Request Free Trial</a> </div>
  <div class="tier">
    <p>Brokerage</p>
    <p>200 + New Binders / Year</p>
    <p>800.377.6915</p>
    <p>For A Custom Quote</p>
    <a class="btn" ng-click="requestTrial('large')" id="brokerbtn">Contact Us</a> </div>
  <p>*Don’t forget about the $25 IRS Tax Deduction for client gifts.</p>
</div>
<div class="quote">
  <div class="container">
    <div>
      <h3>Did you know that <span>86%</span> of buyers &amp; sellers say they will<br/>
        probably use their REALTOR® again or refer them to friends,<br/>
        but only <span>21%</span> of clients actually follow through?</h3>
      <p>*National Association of REALTORS® 2013 Profile of Home Buyers &amp; Sellers.</p>
      <h4>HomeBinder helps you maintain a relationship with your clients through the duration<br/>
        of their home ownership so you retain more clients and earn more referrals.</h4>
      <a class="btn" data-toggle="modal" data-target="#free-trial">Request Free Trial</a> </div>
  </div>
</div>
<application-footer></application-footer>

</body>