<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
    <h3 class="modal-title">What's This - Capital Improvement</h3>
</div>
<div class="modal-body">
    <p>Check this box if the expenditure can be considered a capital improvement.
        These costs can be deducted from your capital gains on a property at the
        time of sale and are important to record over time.  This is especially
        important on a second home or an investment property.</p>
    <p>A capital improvement increases the value of your home, while a non-eligible
        repair just returns something to its original condition. According to the IRS,
        capital improvements have to last for more than one year and add value to your
        home, prolong its life, or adapt it to new uses.</p>
    <p>
        <b>Valid capital improvement examples:</b><br/>
        <ul>
            <li>Adding a deck, pool or sunroom</li>
            <li>Renovating the kitchen or bathroom</li>
            <li>Installing a new furnace or hot water heater</li>
            <li><a href="http://www.irs.gov/uac/Publication-523,-Selling-Your-Home-1" target="_blank">Publication 523</a> has a list of eligible improvements (SEE PAGE 9)</li>
        </ul>
    </p>
    <p>
        <b>Not valid items (Repairs and Routine Maintenance):</b><br/>
        <ul>
            <li>Painting the house</li>
            <li>Cleaning carpets, drapes, or air ducts</li>
            <li>Repairing a broken handrail in a shower or staircase (simply restores the original function of the property)</li>
        </ul>
    </p>
    <p>Resource Articles:<br/>
    <a href="http://www.houselogic.com/home-advice/tax-deductions/tax-breaks-capital-improvements-your-home/" target="_blank">Calculating Deduction at Point of Sale</a><br/>
    <a href="http://www.realestate.com/advice/can-i-use-home-improvements-as-a-tax-deduction/" target="_blank">Calculating Annual Deductions Based on Depreciation</a>
    </p>
</div>