<div id="footer">
	<div class="container-fluid">
		<ul class="nav nav-pills pull-left">
			<li class="navbar-text">© Copyright 2014 HomeBinder.com Inc.</li>
			<li><a href="#/terms">Terms of Use</a></li>
			<li><a href="#/privacy">Privacy Policy</a></li>
			<li class="navbar-text">Call us: 800.377.6915</li>
		</ul>
		<ul class="nav nav-pills pull-right">
			<li><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#f63" data-uv-link-color="#f63" data-uv-default-mode="support" data-uv-forum-id="208729" class="btn btn-sm btn-primary" tooltip-placement="top" tooltip="Click me for help!">Feedback &amp; Support</a></li>
		</ul>
    </div>
</div>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/lNUE0ZjInMQUKjndNrzFuA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35371925-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>