<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>HomeBinder.com Reset Password</h1>
    <p>
      To reset your password click the link below.<br/>
    </p>
    <p>
      <%= link_to "Reset My Password", "http://localhost:3000" << reset_password_path(@account, :key => @account.change_pwd_key) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
