	<link href="/stylesheets/sub-landing.css" rel="stylesheet">
	<div class="headerBlock">
	  <div class="container">
	  	<div class="row">
		  <div class="col-md-6">
		      <iframe width="100%" height="260" src="//www.youtube.com/embed/u1Syaami5IQ?rel=0" frameborder="0" allowfullscreen="" kwframeid="1"></iframe>
		      <p style="margin-top: 5px"></p>
		  </div>
		  <div class="col-md-6">
		      <h3>Organize. Manage. <span class="orange"><span id="rotate"> Sell.</span></span></h3>
		      <h2>Keep your home running smoothly with HomeBinder's easy home managment, maintenance and inventory software. Never lose any household information again!</h2>
		      <a class="btn btn-large btn-hb pull-right smoothScroll" href="#/register" style="float: left; font-size: 22px; padding: 15px 20px;">Start Totally Free</a> 
		  </div>
		</div>
	  </div>
	</div>
	<div class="divider"></div>
	<div class="row-fluid container reasons">
	  <div class="row">
		  <div class="col-md-12">
		    <h2 style="text-align:center;">10 Reasons To Use Home Management Software</h2>
		    <div class="col-md-6" style="margin-left: 0 !important;">
		      <ul>
		        <li><b>Store</b> all your <b>contractor information</b> and never lose the electricians phone number again.</li>
		        <li>Automatically <b>generate tax reports</b> when selling for capital gains. </li>
		        <li><b>Save</b> mid-project photos and decor <b>information</b> during <b>renovation</b>. </li>
		        <li>Keep notified of <b>appliance recalls</b>. </li>
		        <li><b>Store</b> any and all purchase <b>receipts</b> for your home.</li>
		      </ul>
		    </div>
		    <div class="col-md-6">
		      <ul>
		        <li>Get <b>reminders</b> about <b>regular maintenance</b> for air filters, smoke alarms, and more.</li>
		        <li>Keep track of <b>household inventory</b> in case of fire or theft. </li>
		        <li>Document household-related expenses to get a <b>bigger tax refund</b> year after year. </li>
		        <li><b>Never</b> lose your <b>warranty information</b> again. </li>
		        <li><b>Maximize</b> your <b>asking price</b> when its time to <b>sell your home</b>. </li>
		      </ul>
		    </div>
		  </div>
	  </div>
	</div>
	<div class="divider"></div>
	<div class="row-fluid container">
	  <div class="row">
		  <div class="col-md-12">
		    <div class="sliderholder"> 
		    <a name="Preview" class="anAnchor"></a>
		          <h2 style="text-align:center;">Preview Our Service</h2>
		      <div class="rslides_container">
		        <ul class="rslides" id="slider1">
		          <li><img src="assets/landing/screen1.jpg" alt="Screenshot of HomeBinder's home management software"></li>
		          <li><img src="assets/landing/screen2.jpg" alt="Screenshot 2 of HomeBinder's home management software"></li>
		        </ul>
		      </div>
		    </div>
		  </div>
	  </div>
	</div>
	<div class="divider"></div>
	<div class="row-fluid container whyTable">
	  <div class="row">
	  <div class="col-md-12">
	    <a name="Features" class="anAnchor"></a>
	    <h2 style="text-align:center;">All HomeBinder Features</h2>
	    <div class="col-md-2" style="margin:0"> <img src="assets/landing/organize.png" alt="Organize image for HomeBinder's home management software"> </div>
	    <div class="col-md-2">
	      <h4>Contractors</h4>
	      <p>Collect the contact info of everybody that works on your home so you don't lose it.</p>
	    </div>
	    <div class="col-md-2">
	      <h4>Project Info</h4>
	      <p>Store photos and information to always remember project resources. </p>
	    </div>
	    <div class="col-md-2">
	      <h4>Appliances</h4>
	      <p>Keep all model numbers, warranty info and user manuals in one place.</p>
	    </div>
	    <div class="col-md-2">
	      <h4>Receipts</h4>
	      <p>Record info about home purchases for easier returns and tax acocunting.</p>
	    </div>
	    </div>
	    <div class="col-md-12">
	    <div class="col-md-2" style="margin:0; clear: both;"><img src="assets/landing/manage.png" alt="Manage image for HomeBinder's home management software"></div>
	    <div class="col-md-2">
	      <h4>Maintenance</h4>
	      <p>Email reminders for regular maintence like air filters and alarm batteries.</p>
	    </div>
	    <div class="col-md-2">
	      <h4>Recalls</h4>
	      <p>Get notified of any company recalls for products in your house. </p>
	    </div>
	    <div class="col-md-2">
	      <h4>Plan</h4>
	      <p>Prepare for new projects by creating materials shopping lists. </p>
	    </div>
	    <div class="col-md-2">
	      <h4>Home Inventory</h4>
	      <p>Keep a home inventory for insurance or tax purposes.</p>
	    </div>
	    </div>
	    <div class="col-md-12">
	    <div class="col-md-2" style="margin:0; clear: both;"><img src="assets/landing/sell.png" alt="Sell image for HomeBinder's home management software"></div>
	    <div class="col-md-2">
	      <h4><a href="assets/landing/Home Binderv3.pdf">Buyers' Report</a></h4>
	      <p>Generate a report for prospective buyers about the details of your home.</p>
	    </div>
	    <div class="col-md-2">
	      <h4>Tax Report</h4>
	      <p>Create a defensible tax report to reduce your captial gains taxes on sale. </p>
	    </div>
	    <div class="col-md-2">
	      <h4>Hand-off</h4>
	      <p>Be a thoughtful seller by transfering your HomeBinder to the next owner. </p>
	    </div>
	    <div class="col-md-2">
	      <h4>Ensure Care</h4>
	      <p>Let the buyers know what needs to be done and when to care for the home.</p>
	    </div>
	  </div>
	  </div>
	 </div>
	</div>
	<div class="divider"></div>
	<div class="row-fluid container">
	  <div class="row">
		  <div class="col-md-12">
		    <a name="Testimonials" class="anAnchor"></a>
		    <h2 style="text-align:center;">User Testimonials</h2>
		    <div id="testimonials">
			    <ul>
			    	<li>"Thanks for building a great site. I'm actually having fun entering everything!"<br/><span >-Rebecca E., Boston, MA</span></li>
			    	<li>"Easy to understand and I can see and understand the value immediately."<br/><span>-Rich C., Denver, CO</span></li>
			    </ul>
	    	</div>
		  </div>
	  </div>
	</div>
	<div class="divider"></div>
	<div class="row-fluid container reasons pricing">
	  <div class="row">
	  <div class="col-md-12">
	      <a name="Pricing" class="anAnchor"></a>
	    <h2 style="text-align:center;">Account Pricing</h2>
	    <div class="col-md-6" style="margin-left: 0 !important;">
	      <h3>Free Version</h3>
	      <ul>
	        <li>Regular Features</li>
	        <li>Email Support</li>
	        <li>Upload Project Photos &amp; Files</li>
	        <li>Recall Notifications</li>
	        <li>Buyer's Reports</li>
	        <li>Tax Reports</li>
	      </ul>
	      <h4>Free</h4>
	    </div>
	    <div class="col-md-6">
	    <h3 class="orange">Standard Version</h3>
	      <ul>
	        <li>Regular Features</li>
	        <li>Email &amp; Phone Support</li>
	        <li>Upload Project Photos &amp; Files</li>
	        <li>Recall Notifications</li>
	        <li>Buyer's Reports</li>
	        <li>Tax Reports</li>
	      </ul>
	      <h4 class="orange">$49<span>/year</span></h4>
	    </div>
	  </div>
	  </div>
	</div>