<form ng-controller="PaintFormCtrl" ng-submit="submitForm()" name="form">
	<div ng-show="data.form.hasErrors" class="alert alert-error errors">
		<span ng-repeat="error in data.form.errors">{{ error }}</span>
	</div>
	<div class="form-inputs">
		<input ng-model="data.form.id" type="hidden" />
		<input ng-model="data.form.binder_id" type="hidden" />
		<div class="control-group">
			<label>Name</label>
			<div class="controls">
				<input id="name" ng-model="data.form.name" type="text" class="span4" required autofocus="true" />
			</div>
		</div>
		<div class="controls-row">
			<div class="control-group-inline">
				<label>Manufacturer</label>
				<div class="controls">
					<input id="paint_manufacturer" ng-model="data.form.paint_manufacturer" type="text" class="span4" typeahead="man for man in typeahead.manufacturers | filter:$viewValue | limitTo:8"/>
				</div>
			</div>
			<div class="control-group-inline">
				<label>Paint Type</label>
				<div class="controls">
					<input id="paint_type" ng-model="data.form.paint_type" type="text" class="span4" typeahead="type for type in typeahead.paintTypes | filter:$viewValue | limitTo:8"/>
				</div>
			</div>
		</div>
		<div class="controls-row">
			<div class="control-group-inline">
				<label>Code</label>
				<div class="controls">
					<input id="code" ng-model="data.form.code" type="text" class="span4" />
				</div>
			</div>
			<div class="control-group-inline">
				<label>Make Up</label>
				<div class="controls">
					<input id="makeup" ng-model="data.form.makeup" type="text" class="span4" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<label>Areas and Rooms Used</label>
			<div class="controls">
				<select ng-model="data.form.area_ids" ng-options="area.id as area.name for area in options.areas" multiple ng-multiple="true" class="span4">
				</select>
			</div>
		</div>
		<div ng-include="'/views/purchases/form.html'"></div>
		<div class="control-group">
			<label>Additional Details</label>
			<div class="controls">
				<textarea id="details" ng-model="data.form.details" type="text" rows="5" class="span8"></textarea>
			</div>
		</div>
	</div>
	<div class='form-actions'>
		<button ng-disabled="form.$invalid" type="submit" class="btn btn-hb">Save</button>
		<button ng-click="cancelForm()" class="btn">Cancel</button>
	</div> 
</form>