// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-block
{
  border-radius: 5px;
  border-style: solid;
  border-color: #595959;
  border-width: 1px;
  padding: 30px;
  background-color: #F6F6F6;
}
