@import "bootstrap";
@import "bootstrap-responsive";
@import "glyphicons";
@import "filetypes";

/*
 * Twitter Typeahead
 */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #d44c00;
  background-image: -moz-linear-gradient(top, #f48100, #d44c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48100), to(#d44c00));
  background-image: -webkit-linear-gradient(top, #f48100, #d44c00);
  background-image: -o-linear-gradient(top, #f48100, #d44c00);
  background-image: linear-gradient(to bottom, #f48100, #d44c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100cc', endColorstr='#d44c00b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* eof Twitter Typeahead */




.modal-body { width:auto; }
.control-group-inline {
  display: inline-block;
  vertical-align: top;
}
.centered-text { text-align: center; }
.clear-float { clear: both; }
.align_bottom { vertical-align: bottom; }
.remember-me { margin-left: 25px; }
.signin-link { margin-top: 10px; }
.binder-content { padding-left: 60px; }
.hidden { display:none; }
.property_type { margin-right: 20px; }
.form-block {
  background-color: #FFFFFF;
  border-radius: 10px;
}
.share-block { padding:5px;}
.toolbar-block
{
  margin-left:30px;
}

#paymentFormHeader
{
  margin:0px 0px 20px 0px;
}

.homebinder-tr
{
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  vertical-align:bottom;
}

.recall-table
{
  width:100%;
}

.recall-table tr
{
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  vertical-align:top;
}

.recall-table th
{
  padding: 10px 10px 10px 20px;
  text-align: right;
  font-weight: bold;
  width:50%;
}

.recall-table td
{
  padding: 10px 5px 10px 5px;
  text-align: left;
  width:50%;
}

.recall-block
{
  margin-bottom:20px;
}

.back-to-appliances
{
  margin-top:10px;
  margin-bottom:20px;
}

.tr-last
{
  border-bottom-style:none;
}

#paymentForm
{
  width:500px;
}

#upgrade-info
{
  margin-top:15px;
  font-size:12px;
}

#subscription-table
{
  width:100%;
  margin:10px 0px 10px 0px;
}

#subscription-table tr
{
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  vertical-align:bottom;
}

#subscription-table td
{
  padding: 10px 5px 10px 5px;
  text-align: left;
  width:50%;
}

#subscription-table th
{
  padding: 10px 10px 10px 20px;
  text-align: right;
  font-weight: bold;
  width:50%;
}

#beginUpgradeSubsc
{
  margin-left:20px;
}

#cardTypes
{
  margin-top:5px;
  display:block;  
}

#tableTotals
{
  margin:60px 0px 20px 0px;
}

#tableTotals tr
{
  border-bottom-style:none;
}

#tableTotals th
{
  font-weight:normal;
  padding:3px 10px 3px 0px;
}

#tableTotals td
{
  font-weight:bold;
  padding:3px 10px 3px 0px;
}

.subsc-action
{
  margin:10px;
}

.sub-text
{
  font-size:11px;
  font-style:italic;
}

#paymentFormContainer
{
  margin-left:5%;
  margin-right:5%;
}
#subscBackBlock
{
  //margin:15px 0px 20px 0px;
}

.binder-subsc-info
{
  font-size:10px;
  margin-bottom:10px;
}
.binder-subsc-detail
{
  margin:1px 0px;
}

.object-block
{
  background-color:#fff;
  border-width:1px;
  border-color:#E8E8E8;
  border-style:solid;
  padding: 10px 15px;
}

/*
 * HomeBinder.com custom CSS
 * @author JD
 */
::-moz-selection { background: #fc6500; color: #fff; text-shadow: none; }
::selection { background: #fc6500; color: #fff; text-shadow: none; }

/*
 * All of the following styles make the UI fit in the browser window
 * w/ header and footer static and scrolling left and right content
 */
html, body { height: 100% }
.main { 
  *zoom: 1; 
}
.main, .row-fluid {
    height: 100%;
}

.main:before, 
.main:after,
.column:before, 
.column:after {
    content: "";
    display: table;
}

.main:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: 82px;
}

.span10.full, .span12.full {
    width: 100%;
}

.footer {
    height: 20px;
    width: 100%;
    z-index: 100;
    background-color: #000;
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
}
/*
 * eof box layout styles
 */


/*
 * Landing page specific styles
 */
.navbar ul.landing {
  font-size: 16px;
  font-weight: 400;
  padding-left: 130px;
}
.navbar .btn {
  margin-top: 0;  
  margin-right: 20px;
}
.headerBlock {
  background: #000 url('background.jpg') no-repeat center center;
  border-bottom: 5px solid #ddd8d5;
  height: 630px;
  margin-top: 80px;
}
.headerBlock h3 {
  color: #fff;
  font-size: 70px;
  line-height: 1em;
  padding-bottom: 10px;
}
.headerBlock h2 {
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}
.orange {
  color: #FC6500;
}
.headerBlock .container {
  padding-top: 60px;
}
.headerBlock .span6 {
  margin-left: 100px;
}
.headerBlock .span4 {
  margin-left: 10px;
  padding-top: 30px;
}

.whyTable .span10 {
  border-bottom: 2px solid #FFF;
  min-height: 160px;
  padding-top: 20px;
}

.whyTable .span10:last-child {
  border-bottom: none;
}

.whyTable img {
  padding-top: 10px;
  padding-left: 10px;
}

.navbar a.brand-outer {
  background: transparent url('headerlogo.png') no-repeat center center;
  height: 139px;
  width: 85px;
  position: absolute;
  top: 10px;
}
.whyBlock {
  border-bottom: 5px solid #ddd8d5;
  box-shadow: inset 0px 111px 100px -110px #000, inset 0px -111px 100px -110px #000;
  background-color: #201511;
  background-image: url(whybkg.jpg);
  background-repeat: repeat-y;
  background-position: center top;
}
.whyBlockInner {
  padding: 30px 0 0 0;
}
.whyBlock table th {
  text-align: left;
  font-size: 17px;
}
.whyBlock table td {
  font-size: 15px;
  padding-right: 15px;
}
.whyBlock h1 a, .whyBlock h1 a:hover {
  color: #fc6500;
  text-decoration: none;
  font-size: 34px;
}
.whyBlock .whyTable {
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 0;
}
.plansBlock {
  background: #0d0d05 url('plansbkg.jpg') repeat-y center 0;
  border-bottom: 5px solid #ddd8d5;
  height: auto;
  box-shadow: inset 0px 111px 100px -110px #000, inset 0px -111px 100px -110px #000;
  padding-bottom: 40px;
}
.plansBlockHeader {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  padding: 60px 0 5px 0;
}
.plansBlockHeader a, .plansBlockHeader a:hover {
  color: #fff;
  text-decoration: none;
}
.plansBlockSubHeader {
  font-size: 17px;
  color: #fff;
  margin-bottom: 50px;
}
.plansSubBlockOuter {
  margin-top: 15px;
}
.plansSubBlock {
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .7);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .7);
  padding: 15px 0;
}
.plansSubBlock p.header {
  color: #fc6500;
  font-size: 21px;
  font-weight: bold;
  padding-top: 10px;
}
.plansSubBlock p.price {
  color: #444;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0px;
}
.plansSubBlock hr {
  color: #eee;
}
.plansSubBlock p.check {
  font-size: 17px;
}
.signUpBlock {
  background: url('hash.jpg') repeat;
  border-bottom: 5px solid #ddd8d5;
  box-shadow: inset 0px 111px 100px -110px #000, inset 0px -111px 100px -110px #000;
}
.signUpBlockInner {
  padding: 40px 0;
}
.innerHeaderBlock {
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 20px;
}
.innerHeaderBlock h1 {
  color: #fc6500;
  font-size: 30px;
  padding: 0 40px;
    margin-top: -10px;
  line-height: 1.4em;
}
.innerHeaderBlock p {
  font-size: 16px;
  line-height: 1.4;
  padding: 0 40px;
  clear: both;
}
.quote {
  opacity: .7;
}

.innerSubHeaderBlock {
  background: rgba(255,255,255,0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.innerSubHeaderBlock table {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.innerSubHeaderBlock h1, .innerSubHeaderBlock p, .innerSubHeaderBlock form {
  padding: 0 60px;
}

.whyBlockInner a.anAnchor {
  top: -100px
}

.sliderholder a.anAnchor {
  top: -80px
}

.plansBlock .span6 {
  background: #fff;
  margin: 0 auto;
  display: block;
  float: none;
}

.plansBlock .span6 table {
  width: 100%;
}

.plansBlock .span6 table td {
  padding: 4px 15px;
  text-align: center;
  font-size: 16px;
}

.plansBlock .span6 table td:nth-child(2) {
  background: #eee;
  width: 25%;
}
.plansBlock .span6 table td:nth-child(3) {
  background: #ddd;
  width: 25%;

}

.plansBlock .span6 table tr:first-child td {
  padding-top: 10px;
}

.plansBlock .span6 table tr:last-child td {
  padding-bottom: 10px;
}

.plansBlock .span6 table td:first-child {
  text-align: right;
}
.whyTable .span2 {
  width: 175px;
  margin-left: 20px;
}
.plansBlock .span6 {
  width: 520px;
}
a.anAnchor {
  position: relative;
  top: -80px;
}
.quotename {
  display: block;
  float: right;
  margin: 0 0 5px 10px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.sliderholder {
  background-image: url("imacsmall.png");
  background-size: 670px;
  background-position: center 90px;
  background-repeat: no-repeat;
  margin-left: 0;
  height: 720px;
}
.sliderholder h2 {
  color: #fff;
  margin: 10px 0;
  text-shadow: 2px 2px 1px #7B604A;
}
.rslides_container {
  padding: 33px 0 0 0px;
}

#slider1 {
  max-width: 620px;
}

.rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float:none;
  width: 620px;
  margin: 0 auto;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -20px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
  
.footer-lo a {color:#dcd8d7}
.footer-lo a:hover {
  color:#dcd8d7; 
  text-decoration:underline;
}
.footer-lo {
  padding:20px 0;
  background:url('footer.png') repeat-x;
  font-size:13px;
  color:#dcd8d7;
}
.footer-lo ul {list-style:none;}
/*
 * eof Landing page specific styles
 */


/*
 * In-app specific styles
 */
body {
  background:#000 url("tiny_grid.png");
  color:#807573;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  color:#dcd8d7;
  font-size:10px;
}
.footer a {color:#dcd8d7}
.footer a:hover {
  color:#dcd8d7; 
  text-decoration:underline;
}
.footer.footer-li {padding:5px 0;}

.navbar-fixed-top {
  background:#000;
  border-top:2px solid #fc6500;
}
.navbar-inner .nav>li>a {color:#fff;}
.navbar-inner .nav>li>a:hover {text-decoration:underline;}
.navbar a.brand-inner {
  background: transparent url('logoinner.png') no-repeat center center;
  height:88px;
  width:75px;
  position:absolute;
  top:-9px;
}

.navbar-bland {
  filter:none;
  background-color:none;
}

.navbar-bland .navbar-inner {
  background:none;
  background-color:transparent;
  filter:none;
  background-image:none;
  padding:5px;
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.navbar-bland .navbar-inner a.brand {
  font-size:24px;
  font-weight:bold;
}

.crumby-cont {background-color:#f5f5f5;}
.crumby {
  margin-top:40px;
  background-color:#f5f5f5;
  height:40px;
  border-bottom:1px solid #ddd;
}
.breadcrumb {padding:10px 15px;}

.nav-list {
  margin-top:33px;
}

.nav-list li {
  font-weight:800;
  font-size:16px;
  text-transform:uppercase;
  color:#444;
}

.nav-list > li > a {
  padding: 7px 15px;
}

.nav-list li>a {
  color:#444;
}

.nav-list li.nav-sub {
  color:#666;
}

.nav-list li.nav-sub>a {
  padding-left:25px;
  font-size: 13px;
  color: #666;
}

.nav-list li.nav-sub>a:active {
  color:#fff;
}

.nav-list li>a:hover, .nav-list > .active > a:focus {
  background-color:#ccc;
  -webkit-border-radius: 0px 3px 3px 0px;
          border-radius: 0px 3px 3px 0px; 
}

.nav-list li>a:active, .nav-list li.nav-sub>a:active, .nav-list > .active > a, .nav-list > .active > a:hover {
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fc6500;
  *background-color: #fc6500;
  background-image: -moz-linear-gradient(top, #f48100, #d44c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48100), to(#d44c00));
  background-image: -webkit-linear-gradient(top, #f48100, #d44c00);
  background-image: -o-linear-gradient(top, #f48100, #d44c00);
  background-image: linear-gradient(to bottom, #f48100, #d44c00);
  background-repeat: repeat-x;
  border-color: #fc6500 #fc6500 #d44c00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100cc', endColorstr='#f48100cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0px 3px 3px 0px;
          border-radius: 0px 3px 3px 0px;  
}

.nav li + .nav-header, .nav-list .nav-header {
  /*color: #fc6500;
  font-size:12px;
  font-weight:bold;*/
  font-weight:800;
  font-size:16px; 
}

th.fixed-width {
  width: 175px;
}

/*
 * eof in-app specific styles
 */


/*
 * Global styles
 */
input { max-width: 100%; }

.btn-hb.active {color: rgba(255, 255, 255, 0.75);}
.btn-hb {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fc6500;
  *background-color: #fc6500;
  background-image: -moz-linear-gradient(top, #f48100, #d44c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48100), to(#d44c00));
  background-image: -webkit-linear-gradient(top, #f48100, #d44c00);
  background-image: -o-linear-gradient(top, #f48100, #d44c00);
  background-image: linear-gradient(to bottom, #f48100, #d44c00);
  background-repeat: repeat-x;
  border-color: #fc6500 #fc6500 #d44c00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100cc', endColorstr='#f48100cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-hb:hover,
.btn-hb:focus,
.btn-hb:active,
.btn-hb.active,
.btn-hb.disabled,
.btn-hb[disabled] {
  color: #ffffff;
  background-color: #d44c00;
  *background-color: #d44c00;
}

.btn-hb:active,
.btn-hb.active {
  background-color: #fc6500 \9;
}

.btn-link {
  color: #fff;
  text-shadow: none;
}
.btn-link:hover {
  color:#fc6500;
}

a, a:hover, .orange { color:#fc6500 }
a:hover {text-decoration:underline;}

hr.orange {
  height: 1px;
  border-bottom: 1px solid #fc6500;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #fc6500;
  background-image: -moz-linear-gradient(top, #f48100, #d44c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48100), to(#d44c00));
  background-image: -webkit-linear-gradient(top, #f48100, #d44c00);
  background-image: -o-linear-gradient(top, #f48100, #d44c00);
  background-image: linear-gradient(to bottom, #f48100, #d44c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100CC', endColorstr='#d44c00B3', GradientType=0);
}

/* line 101, ../../../../../DevTools/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/bootstrap-sass-2.3.1.0/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #fc6500;
  background-image: -moz-linear-gradient(top, #f48100, #d44c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48100), to(#d44c00));
  background-image: -webkit-linear-gradient(top, #f48100, #d44c00);
  background-image: -o-linear-gradient(top, #f48100, #d44c00);
  background-image: linear-gradient(to bottom, #f48100, #d44c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48100CC', endColorstr='#d44c00B3', GradientType=0);
}

.form-actions {
  padding: 10px 0px;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background:none;
}

.thumbnail {
  background-color:#eee;
  margin: 10px 0;
}

.thumbnail .datatable {
  clear: both;
  width:100%;
}

.thumb-img {
  margin-right: 10px;
}

.expander, .contractor {
  clear: both;
  width: 100%;
  text-align:center;
  font-size:10px;
}

.resource-content{
  background-color:#E6E6E6;
}

.tab-content p{
  margin-left:10px;
}

.tabbable, .resource-content {
  background:none;
}

.nav-tabs, .nav-pills {
  margin-bottom:0px;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-left: 10px;
  padding-right:10px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  text-decoration: underline;
  background: none;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background-color:#f6f6f6;
  border-bottom:1px solid #f6f6f6;
  text-decoration: none;
  font-weight:bold;
}

.tab-content{
  background-color:#f6f6f6;
  border:1px solid #ddd;
  border-top:none;
  padding:15px 5px 5px 5px;
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius: 4px;
     -moz-border-radius-topleft: 0;
          border-radius: 4px;
          border-top-left-radius: 0;
}

/*
 * eof global styles
 */

/*
 * Maintenance Items
 */
.item_block{
  border-bottom: 1px solid #383838;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #999999;
}

.item_name{
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.item_desc{
  font-size: 10px;
  font-style: italic;
}

.item_details{
  font-size: 12px;
  
}

.item_extras{
  font-size: 10px;
  background-color: #CCCCCC;
  border: 1px solid #666666;
  padding: 5px 15px;
  width: 100%;
}

.item_extras_header{
  padding: 5px;
  margin-bottom: 10px;
}

.item_extras_options a{
  margin-right: 10px;
  font-size: 10px;
}

.note{
  margin: 3px 0px;
  padding: 5px;
  border-bottom: 2px solid #eee;
}

.upgrade-binder
{
  display:block;
  margin-top:7px;
  margin-right:20px;
}
.upgrade-binder-text {
  margin-right:20px;
  margin-top:10px;
  color: #999;
}

.upgrade-binder-text:hover {
  text-decoration:none;
  color: #999;
}

.created_at {
  font-size:9px;
} 

.binder-thumb {
  position: relative;
}
.binder-primary {
  position: absolute;
  top:0;
  left:0;
  background: transparent url('star_24.png') no-repeat center center;
  height: 26px;
  width: 26px;
  z-index:100;
}
.binder-property {
  margin-left:50px;
}
.well h4 {
  color: #fc6500;
}

.show-resource-line {
  font-size:13px;
}

.show-resource-label {
  font-weight:bold;
  margin-right:10px;
  float:left;
}

.show-resource-value {
  float:left;
}
.photo-thumb {
  position: relative;
}
.photo-thumb-delete {
  position: absolute;
  bottom:1px;
  right:1px;
  background: #eee;
  z-index:100;
  padding: 3px 5px 0 5px;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius: 3px;
     -moz-border-radius-bottomleft: 0;
          border-radius: 3px;
          border-bottom-left-radius: 0;
}

/*
 * plupload specific
 * 
 */
.dropzone-big {
  height: 150px;
  overflow: auto;
}
.dropzone-text {
  position: relative;
  font-style: 'italic';
  top: 25px;
  text-align: center;
}
.dropzone-hover {
  border:3px dashed #444;
  background-color:#eee;
}
.upload-queue-file {
  border: 1px solid #eee;
  padding: 5px;
  margin:2px 0px;
}
.upload-queue-file a {
  font-size: 18px;
  margin-right: 5px;
  font-weight: bold;
  color: #aaa;
}
.upload-queue-file a:hover {
  color: #444;
  text-decoration: none;
}
.upload-queue-file-pct {
  float:right;
  font-weight:bold;
}


/* reilly media queries */

@media(max-width:1200px) {
  .headerBlock .span4 {
    padding-top: 0px;
  }
  .headerBlock {
    height: 520px;
  }
  #slider1 {
    max-width: 500px;
  }
  .rslides_container {
    padding: 32px 0 0 4px;
    width: 500px;
  }
  .sliderholder {
    height: 600px;
    background-size: 550px;
  }
  .navbar .brand-outer {
    margin-left: -30px;
  }
  .plansBlock .span6 {
    width: 520px;
  }
  .headerBlock h3 {
    font-size: 50px;
    margin-top: 0;
  }
  .innerHeaderBlock h1 {
    font-size: 24px;
  }
  .whyTable .span2 {
    width: 135px;
  }
}

@media(min-width:768px) and (max-width:979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .headerBlock {
    margin-top: 0;
  }
  .headerBlock .span6 { 
    margin-left: 20px;
  }
  .headerBlock .span4 { 
    width: 340px;
    margin-top: -10px;
  }
  .headerBlock h3 {
    font-size: 40px;
    margin-top: 0;
  }
  .headerBlock h2 {
    line-height: 1.3em;
  }
  .headerBlock {
    height: 440px;
  }
  .whyBlock .span10 {
    width: 700px;
  }
  .whyBlock .span1 {
    width: 0;
    margin: 0;
  }
  .innerHeaderBlock h1 {
    padding-top: 20px;
  }
  .whyTable .span2 {
    width: 120px;
  }
  .sliderholder {
    height: 540px;
    background-size: 490px;
  }
  #slider1 {
    max-width: 448px;
  }
  .rslides_container {
      padding: 30px 0 0 0px;
    width: 448px;
  }
  
  .signUpBlock h1 {
    padding-top: 0;
  }
  .navbar .brand-outer {
    margin-left: -10px;
  }
  .plansBlock .span6 {
    width: 520px;
  }
  a.anAnchor {
    position: relative;
    top: 0 !important;
  }
  .innerHeaderBlock h1 {
    font-size: 28px;
  }
  .crumby {
    margin-top:0px;
  } 
  .navbar-fixed-top .navbar-inner, 
  .navbar-fixed-bottom .navbar-inner {
    padding:0px;
  }   
}

@media (max-width: 900px) {
  .navbar .container .btn {
    margin-top: 10px;
    margin-left: 145px;
    float: left;
  }
  .navbar .navbar-inner .container a.btn:last-child {
    margin-top: 10px;
    margin-left: 0;
    float: left;
  }
  .crumby {
    margin-top:0px;
  } 
  .navbar-fixed-top .navbar-inner, 
  .navbar-fixed-bottom .navbar-inner {
    padding:0px;
  }
}

@media(max-width:767px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .headerBlock .span6 {
    display: none;
  }
  .headerBlock .span4 {
    padding: 0 10%;
    margin-left: 0;
  }
  .headerBlock {
    height: 480px;
    margin-top: 0;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0;
  }
  .innerHeaderBlock {
    width: 90%;
    margin: 0 auto;
  }
  .whyBlock .span1 {
    width: 0;
    margin: 0;
  }
  .whyTable .span2 {
    width: 90%;
    margin: 0 auto !important;
    text-align: center;
  }
  .whyTable .span2 ul {
    list-style-position: inside;
    margin: 0;
  }
  .whyTable img {
    padding: 10px 0;
  }
  .whyTable .span10 {
    padding: 20px 0;
  }
  .innerHeaderBlock p, .innerHeaderBlock h1 {
    padding: 0 10%;
  }
  .empty {
    display: none;
  }
  .sliderholder {
    background: none;
    height: auto;
    padding-bottom: 80px;
  }
  #slider1 {
    width: 90%;
  }
  .rslides_container {
    width: 90%
  }
  .plansBlock {
    height: auto;
    background-repeat: repeat-y;
  }
  .plansSubBlock {
    width: 90%;
    margin: 20px auto;
  }
  .plansBlockHeader {
    line-height: 1em;
  }
  .plansBlockSubHeader {
    padding: 0 10%;
  }
  #emailSignupButton {
    margin-top: 10px;
  }
  .footer-lo .span1, .footer-lo .span2, .footer-lo .span3 {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  .innerSubHeaderBlock {
    width: 90%;
    margin: 0 auto;
  }
  .navbar .brand-outer {
    margin-left: -10px;
  }
  .plansBlock .span6 {
    width: 90%;
  }
  a.anAnchor {
    position: relative;
    top: 0 !important;
  }
  .crumby {
    margin-top:0px;
  }
  .navbar-fixed-top .navbar-inner, 
  .navbar-fixed-bottom .navbar-inner {
    padding:0px;
  }
}

@media(max-width:415px) {
  .navbar .nav.landing {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .navbar .btn {
    margin: 10px 15%;
    float: none;
    width: 60%;
  }
  .navbar .container .btn {
    margin: 0 19% 10px 19% !important;
    display: block;
    width: 50%;
  }
  .navbar a.brand-outer {
    background: url("headerlogo.png") no-repeat scroll center center transparent;
    height: 139px;
    position: relative;
    top: 10px;
    width: 88%;
    margin: 0 auto;
    display: block;
  }
  .headerBlock h3 {
    font-size: 50px;
  }
  .navbar .nav.landing > li {
    float: none;
    margin: 10px 0;
  }
  .innerSubHeaderBlock h1, .innerSubHeaderBlock p, .innerSubHeaderBlock form {
    padding: 0 10%;
  }
  a.anAnchor {
    position: relative;
    top: 0 !important;
  }
  .headerBlock .span4 { 
    margin-top: -30px;
  }
  .headerBlock h3 {
      font-size: 40px;
  }
  .plansBlock .span6 table td {
    font-size: 14px;
    padding: 4px 5px;
  }
}

