// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.share-list{
  list-style-type:none;
  margin:0px;
}

.share{
  margin-left:0px;
  padding:10px 20px;
}

