// Place all the styles related to the structures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.structures
{
  list-style-type: none;
  margin-top: 25px;
}

.structure
{
  margin-top: 15px;
  padding: 10px;
  background-color: #EDEDED;
}

.room
{
  margin-top: 15px;
}
