<!DOCTYPE html>
<html>
<head>
 	<%= render 'shared/landing_head' %>
</head>
<body>
	<%= render 'shared/landing_header' %>
	<div class="container-fluid">
		<%= yield %>
	</div>
	<%= render 'shared/landing_footer' %>
</body>
</html>